mixin header
    link(rel='stylesheet', href='./css/rdw.css')
    link(rel='stylesheet', href='./css/layout.css')
    link(rel='stylesheet', href='./css/main.css')
    link(rel='stylesheet', href='./css/colors.css')