extends mixins/emptyPage

block head
    include mixins/header
    +header
block body
    h1.text 404
    h2.text "Houston, we've got a problem"
    include mixins/button
    +button('Return to the homepage', '/')