extends mixins/template

block content
    div.center
        h1.text.pre
            | Hello, 
            | I'm 112batman
    div.center
        include mixins/badge
        +badge('https://nodejs.org/static/images/favicons/favicon.ico', 'Hobbist nodejs developer')
        a.col-2.col-s-2.noLink(href='https://github.com/112batman', target='_blank')
            +badge('https://github.com/favicon.ico', 'View me on Github', 48, 2000, true)