extends mixins/template

block meta
    title Projects

block content
    div.row
        include mixins/project
        +project(
            'Worksnake', 
            'Free open-source program that reminds you of taking breaks from your computer.', 
            'https://github.com/Worksnake/worksnake/raw/master/build/icon.png', 
            'https://github.com/Worksnake/worksnake',
            'https://worksnake.js.org'
        )
        +project(
            'EnergieData', 
            'Collects data from Greenchoice (Energy Company) and Solaredge (Solar panels), merges it, and writes it to an excel document.', 
            'https://raw.githubusercontent.com/112batman/EnergieData/master/assets/icon.ico',
            'https://github.com/112batman/EnergieData'
        )
        +project(
            'Big brain bot',
            'A multipurpose Discord bot',
            'https://cdn.discordapp.com/avatars/673901533250715671/34db8383a9a01faaa613545afdd588ac.png?size=4096',
            null,
            'https://bigbrainbot.js.org'
        )
    div.row
        a.col-12.col-s-12.noLink.center(href='https://github.com/112batman', target='_blank')
            include mixins/badge
            +badge('https://github.com/favicon.ico', 'View all my projects on Github', 48, 2000, true)