.navbar {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
}

.body {
    height: 80vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center-y {
    display: flex;
    align-items: center;
}

.center-text {
    text-align: center;
}